body{
	background-color: #cccccc;
	font-family:arial;
	font-color: #000000;
}
img.tiny{
    width: 20px;
    border: solid thin grey;	
}
img.big {
    width: 200px;
    border: solid thin grey;
    position: absolute;
    right: 1ex;
    top: 1ex;
}
img{width:50px;border: solid thin grey; }

.properties div div{
	display:inline-block;
}
.properties div div:first-child{
	width:20ex;
}
.properties div div:last-child{
	font-weight: bold;
}
a{
	text-decoration: none;
<<<<<<< HEAD
	color: #000000;
}
a:hover{
	color: #336699
=======
	font-color: #000000;
>>>>>>> f1f99c6918f6e78b6370e79061467e0fb5ceb8b3
}
.nav_button{
	border:solid thin black;
	padding:lex;
	width:15ex;
	display:inline-block;
}
.createbutton{
	border:solid thin black;
	padding:lex;
	width:15ex;
	display:inline-block;
}
ul#sort a:link{
<<<<<<< HEAD
	background-color: #bf8040;
=======
	background-color: #000000;
>>>>>>> f1f99c6918f6e78b6370e79061467e0fb5ceb8b3
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration:none;
	display: inline-block;
	list-style-type:none;
<<<<<<< HEAD
}
ul#sort a:hover{
	background-color: #f43
=======
>>>>>>> f1f99c6918f6e78b6370e79061467e0fb5ceb8b3
}